.login {
	padding-bottom: 70px;
	position: relative;
	&__abs-left {
		position: absolute;
		width: 40%;
		height: 100%;
		top: 0;
		left: 0;
		background: #f5f6f8;
	}
	&__abs-right {
		position: absolute;
		width: 60%;
		height: 100%;
		right: 0;
		top: 0;
		background-image: url(../../../img/bg/login-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.personal-area {
	margin-top: 40px;
	&__title {
		.section-titling;
	}
	&__describe {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		margin-top: 7px;
	}

	&__form-holder {
		margin-top: 16px;
	}
	&__input {
		width: 100%;
		height: 46px;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		outline: 0;
		margin-bottom: 20px;
		padding: 15px;
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
	}
	&__form-bottom-line {
		display: flex;
		justify-content: space-between;
	}
	&__check {
		background: red;
		position: relative;
		&:checked:before {
			content: '\f00c';
			font-family: "FontAwesome", sans-serif;
			color: #ff5252;
			border: 1px solid #ff5252;
		}
		&:before {
			content: '';
			text-align: center;
			line-height: 18px;
			display: block;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 18px;
			height: 18px;
			border-radius: 2px;
			background-color: #e8e8e8;
		}
	}
	&__check-text {
		margin-left: 10px;
	}
	&__forgotpass {
		color: #2fa4de;
		font-size: 16px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus, {
			color: darken(#2fa4de, 10%);
		}
	}
	&__submit-btn {
		margin-top: 30px;
		width: 100%;
		height: 46px;
		border-radius: 2px;
		background-color: #2e2e2e;
		border: 0;
		cursor: pointer;
		color: #ffffff;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus, {
			background-color: #ff5252;
		}
	}

	&__social-entry {
		margin-top: 35px;
	}
}

.social-entry {
	&__text {
		text-align: center;
	}
	&__link-holder {
		display: flex;
		justify-content: center;
		margin: 0 -5px;
		margin-top: 10px;
	}
	&__link {
		font: 1px;
		width: 85px;
		padding: 10px 35px;
		border-radius: 23px;
		background-color: #3b5998;
		color: #fff;
		margin: 0 5px;
		text-align: center;

		&--google {
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
		}
	}
}



.registry {
	background-color: #151a29;
	padding: 36px;
	margin-top: 40px;
	&__title {
		.section-titling;
		color: #fff;
	}
	&__descrip {
		color: #fff;
		margin-top: 5px;
	}
	&__form-holder {
		margin-top: 15px;
	}
	&__input {
		height: 46px;
		width: 100%;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		outline: 0;
		margin-bottom: 20px;
		padding: 15px;
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
	}
	&__input-holder {
		position: relative;
		.captcha {
			width: 100px;
			height: 42px;
			position: absolute;
			right: 0;
			top: 0;
			background-image: url(../img/bg/captcha.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}
	&__submit-btn {
		width: 100%;
		height: 46px;
		border-radius: 2px;
		background-color: #ff5252;
		color: #ffffff;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		border: 0;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus, {
			background-color: darken(#ff5252, 10%);
		}
	}
}



@media (max-width: 1200px) {
	.login {
		&__abs-left {
			width: 43%;
		}
		&__abs-right {
			width: 57%;
		}

	}
}

@media (max-width: 992px) {
	.login {
		&__abs-left {
			width: 50%;
		}
		&__abs-right {
			width: 50%;
		}

	}
}

@media (max-width: 768px) {
	.login {
		background: #f5f6f8;
		&__abs-left, &__abs-right {
			display: none;
		}
	}

	.personal-area {
		background: #DFDFDF;
		padding: 20px;
	}
}