.job-search-block {
	background: #f5f6f8;
	padding-top: 30px;
	padding-bottom: 60px;
}
.job-card {
	padding: 25px;
	background: #fff;
	margin-bottom: 20px;
	&__topline {
		a {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__title {
		font-family: "Mariupol-Bold", sans-serif;
		font-size: 22px;
		font-weight: 700;
		color: #2fa4de;

		&--hot {
			color: #ff5252;
		}
		

	}

	&__stat-line {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 15px;
	}
	&__stat-item {
		margin-right: 13px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__stat-icon {
		width: 17px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		display: inline-block;
		margin-right: 8px;
	}
	&__stat-value {
		display: inline-block;
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 700;
	}

	&__info {
		margin-top: 15px;
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
		padding-bottom: 30px;
		border-bottom: 2px solid #eeeeee;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 15px;
	}
	&__footer-categories {
		color: #838c90;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
	}
	&__footer-details-link {
		color: #2fa4de;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		i {
			font-size: 12px;
			margin-left: 5px;
		}

		&:hover {
			color: @link-blue-hover
		}
	}
}



@media (max-width: 992px) {
	.job-cards {
		margin-top: 20px;
	}
}	



@media (max-width: 768px) {
	.job-card {
		&__footer {
			justify-content: space-between;
		}

		&__footer-categories {
			flex: 1;
		}

		&__footer-details-link {
			flex: 1;
			align-self: flex-end;
			text-align: right;
		}
	}

}

@media (max-width: 380px) {
	.job-card {
		&__stat-line {
			flex-direction: column;
			align-items: flex-start;
		}	
	}

}