.job-filters {
	background: #fff;

	&__inner-wrap {
		padding: 35px 25px;
	}

	&__form-submit-btn {
		width: 100%;
		height: 60px;
		background-color: #ff5252;
		color: #ffffff;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		border: 0;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			background-color: darken(#ff5252, 20%) ;
		}
	}
}

.jfilter-item {
	padding-bottom: 25px;
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 25px;
	&__title {
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__input-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 -5px;
	}

	&__input-holder {
		width: 100%;
		position: relative;
		margin: 0 5px;
	}

	&__input {
		width: 100%;
		height: 60px;
		border-radius: 4px;
		border: 1px solid #dedede;
		color: #8e8e8e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		padding: 20px 0;
		padding-left: 40px;
		padding-right: 30px;

		&--small {
			padding-left: 10px;
		}
	}
	&__input-icon {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		width: 14px;
		height: 14px;
		position: absolute;
		left: 20px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__arrow-icon {
		display: block;
		position: absolute;
		width: 25px;
		height: 15px;
		display: block;
		top: 50%;
		transform: translateY(-50%);
		right: 1px;
		background: #fff;
		color: #a9a9a9;
		pointer-events: none;
		margin-top: -2px;

	}

	&__check-item-input {
		position: relative;
		margin-right: 8px;
		&:checked:before {
			content: '\f00c';
			border: 1px solid #ff4936;
			color: #ff4936;
			background: #fff;
		}
		&:before {
			content: '';
			font-family: "FontAwesome", sans-serif;
			text-align: center;
			line-height: 18px;
			font-size: 10px;
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			border-radius: 2px;
			background-color: #e8e8e8;
			top: -2px;
			left: -2px;
		}
	}
	&__check-item-text {
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
	}


}



@media (max-width: 1200px) {
	.jfilter-item {
		&__input-wrapper {
			flex-direction: column;

			.input-wrapper-item {
				margin-bottom: 10px;
			}
		}
	}
}

@media (max-width: 992px) {

	.jfilter-item {
		&__input {
			font-size: 14px;
			padding-left: 25px;


		}
		&__input-icon {
			left: 10px;
		}
	}
}