.comments {
	padding: 25px;
	background: #fff;
	margin-top: 30px;

	&__header {
		padding-bottom: 20px;
		border-bottom: 2px solid #eeeeee;
		margin-bottom: 30px;
	}
	&__title {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;
	}
	&__count {
		color: #6a6a6a;
		font-size: 14px;
		line-height: 14px;
		font-weight: 400;
		display: inline-block;
		padding: 1px 5px;
		border-radius: 11px;
		background-color: #eff1f5;
		text-align: center;
	}

}

.comment {
	margin-top: 25px;
	&--answer {
		padding-left: 25px;
	}
	&__title-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__user-name {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;
	}
	&__recommand {
		font-size: 14px;
		font-weight: 400;

		&--positive {
			color: #3dc334;
		}

		&--negative {
			color: #ff5252;
		}
	}
	&__body {
		margin: 20px 0;
		color: #2e2e2e;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__footer {
		padding: 12px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 2px solid #eeeeee;
	}
	&__footer-tools {

		font-size: 14px;
		font-weight: 400;
		.reply, .claim {
			&:hover,
			&:active,
			&:focus, {
				color: darken(#2fa4de, 10%);
			}
		}
		.reply {
			display: inline-block;
			color: #2fa4de;
			position: relative;
			padding-left: 15px;
			padding-right: 8px;
			border-right:1px solid #dedede;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 5px;
				left: 0;
				width: 12px;
				height: 9px;
				display: block;
				background-image: url(../img/icons/back-arrow.svg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}
		}
		.claim {
			color: #2fa4de;
			padding-left: 8px;
		}
	}
	&__footer-date {
		color: #838c90;
		font-size: 14px;
		font-weight: 400;
	}
}
