.jarticle-block {
	background: #f5f6f8;
	padding-top: 30px;
}


.jarticle {
	padding: 25px;
	background: #fff;

	&__heading-wrap {
		padding-bottom: 15px;
		border-bottom: 2px solid #efefef;
	}
	&__heading-wrap-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title {
		color: #2e2e2e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 22px;
		font-weight: 700;
	}

	&__categories {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 14px;
		font-weight: 400;
		margin-top: 10px;
	}
	&__categories-item {
		color: #2fa4de;
		&:after {
			content: ' -';
		}
		&:last-child:after {
			content: '';
		}

		&:hover,
		&:active,
		&:focus, {
			color: darken(#2fa4de, 10%);
		}
	}

	&__second-heading {
		padding: 25px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__statline {
		display: flex;
		justify-content: flex-start;

	}
	&__stat-item {
		display: inline-block;
		margin-right: 15px;
		display: flex;
		align-items: center;
	}
	&__stat-icon {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		margin-right: 8px;
	}
	&__stat-value {
		display: inline-block;
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;

		.hour {
			font-weight: 400;
			color: #2e2e2e;
		}
	}

	&__company-info {
		margin-left: 25px;
		margin-right: 25px;
		background: #f5f6f8;
		padding: 25px;
		

	}
	&__company-info-row {
		margin: 0 -15px;
		display: flex;
		justify-content: flex-start;
	}
	&__company-info-col {
		color: #838c90;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		margin: 0 15px;
		.text-bolder {
			color: #2e2e2e;
		}
	}
	&__company-info-text {
		margin-bottom: 5px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__maininfo-wrap {
		margin-top: 30px;
		padding-bottom: 25px;
		border-bottom: 2px solid #eeeeee;
	}
	&__descrip {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__descrip-title {
		margin-bottom: 10px;
	}
	&__descrip-text {
		color: #2e2e2e;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__descrip-list-item {
		list-style-type: disc;
		margin-left: 15px;
	}
	
}



.jarticle-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	&__complain {
		color: #2fa4de;
		font-size: 14px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus, {
			color: darken(#2fa4de, 10%);
		}
	}
	&__share {
		color: #838c90;
		font-size: 14px;
		font-weight: 400;

		& > span {
			margin-right: 5px;
		}
	}

	&__share-social-holder {
		display: inline-block;
	}
	&__share-social-icon {
		display: inline-block;
		text-align: center;
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 50%;
		color: #fff;
	}
}


.jarticle-subtitling {
	color: #2e2e2e;
	font-size: 16px;
	font-weight: 700;
}



@media (max-width: 480px) {
	.jarticle {
		&__second-heading {
			align-items: flex-start;
		}
		&__statline {
			flex-direction: column;
		}
		&__stat-item {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 775px) {
	.jarticle {
		&__second-heading {
			flex-direction: column;
		}
	}

	.jarticle {
		&__company-info {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			box-sizing: border-box;
		}

		&__company-info-row {
			flex-direction: column;
		}

		&__company-info-col {
			margin-bottom: 8px;
		}
	}

	.jarticle-footer { 
		&__share-social-holder {
			display: flex;
			justify-content: space-between;
		}
	}
}


@media (max-width: 480px) {
	.jarticle-footer { 
		flex-direction: column;
	}
}