.last-openings {
	margin-top: 50px;
	&__title {
		.section-titling;
	}

	&__items-wrap {
		margin-top: 25px;
	}
	&__item {}
}

.last-work {
	padding: 25px;
	background: #fff;
	margin-bottom: 10px;
	&__title {
		color: #2fa4de;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		&:hover,
		&:active,
		&:focus, {
			color: darken(#2fa4de, 10%);
		}
	}
	&__stat-wrap {
		display: flex;
		align-items: center;
	}
	&__stat-item {
		display: flex;
		align-items: center;
		margin-right: 15px;
	}
	&__stat-icon {
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		margin-right: 8px;

	}
	&__stat-value {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;
	}
	&__bottom-line {
		margin-top: 18px;
		display: flex;
		justify-content: space-between;
	}

	&__details {
		color: #2fa4de;
		font-size: 16px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus {
			color: darken(#2fa4de, 10%);
		}
	}
}

.jsubscribe {
	padding: 25px;
	border: 2px solid #e9eaeb;
	margin-top: 25px;
	&__title {
		.section-titling;
	}
	&__subtitle {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__form {
		position: relative;
		margin-top: 20px;
	}
	&__form-item {
		border-radius: 23px;
		background-color: #ffffff;
		color: #8e8e8e;
		font-size: 16px;
		font-weight: 400;
		border: 0;
		padding: 12px 25px;
		width: 100%;
		outline: none;

		&--submit {
			position: absolute;
			width: 150px;
			right: 0;
			top: 0;
			background-color: #ff5252;
			color: #fff;
			cursor: pointer;
			&:hover,
			&:active,
			&:focus, {
				background: darken(#ff5252, 10%);
			}
		}
	}
	
}

.jsidebar {
	&__connect-btn {
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		background-color: #ff5252;
		text-align: center;
		padding: 15px 0;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#ff5252, 10%);
		}
	}

	&__title {
		.section-titling;
		margin: 25px 0;
	}
}


@media (max-width: 1200px) {
	.jsidebar {
		.last-vac-card {
			&__top-wrap {
				flex-wrap: wrap;
			}

			&__date {
				width: 100%;
				text-align: center;
			}
		}
	}
}


@media (max-width: 992px) {
	.jsidebar {
		.last-vac-card {
			&__top-wrap {
				flex-wrap: nowrap;
				justify-content: flex-start;
			}
			&__country {
				margin-left: 15px;
			}
			&__date {
				margin-left: 15px;
				width: unset;
			}
		}
	}
}

@media (max-width: 365px) {
	.jsidebar {
		.last-vac-card {
			&__top-wrap {
				flex-direction: column;
				align-items: flex-start;
			}
			&__country {
				margin-left: 0;
			}
			&__date {
				margin-left: 0;
				width: unset;
			}
		}
	}
}


@media (max-width: 470px) {
	.last-work {
		&__bottom-line {
			flex-direction: column;
		}
		&__stat-wrap {
			justify-content: space-between;
		}

		&__details {
			align-self: flex-end;
			margin-top: 10px;
		}

	}
}

@media (max-width: 360px) {
	.last-work {
		&__bottom-line {
			flex-direction: row;
		}
		&__stat-wrap {
			flex-direction: column;
			align-items: flex-start;
		}

		&__details {
			align-self: flex-end;
			margin-top: 10px;
		}

	}
}