.jreviews {
	margin-top: 50px;
	&__title {
		color: #2e2e2e;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 25px;
	}

	&__input-row {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
	}
	&__form-elem {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		border-radius: 2px;
		border: 0;
		padding: 15px;
		color: #8e8e8e;
	}
	&__input {
		width: 100%;
		margin: 0 10px;
	}

	&__textarea {
		width: 100%;
		margin-top: 20px;
		height: 85px;
	}

	&__form-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 30px;
	}
	&__radio-item {
		margin-right: 25px;
		& > input[type='radio'] {
			position: relative;
			outline: none;
			margin-right: 8px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 18px;
				height: 18px;
				left: -2px;
				top: -2px;
				background: #fff;
				border-radius: 50%;
				border: 1px solid #2e2e2e;
				z-index: 5;

			}
			&:checked:before {
				border: 1px solid #ff5252;
				box-shadow: inset 0 0 0px 3px #fff, inset 0 0 20px 20px #ff5252;
			}
		}
	}
	&__form-submit-btn {
		padding: 15px 65px;
		border-radius: 23px;
		font-family: "Mariupol-Regular", sans-serif;
		background-color: #ff5252;
		border: 0;
		color: #fff;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus, {
			background: darken(#ff5252, 10%);
		}
	}
}


@media (max-width: 768px) {
	.jreviews {
		&__radio-wrapper {
			display: flex;
			flex-direction: column;
		}
	}
}

@media (max-width: 455px) {
	.jreviews {
		&__form-bottom {
			flex-direction: column;
		}
		&__radio-wrapper {
			flex-direction: row;
		}
		&__radio-item {
			font-size: 14px;
		}

		&__form-submit-btn {
			margin-top: 10px;
		}
	}
}
