.breadcrumbs-line {
	background: #f5f6f8;
}

.breadcrumbs-holder {
	height: 100%;
	padding: 15px 0;
	color: #dedfe1;
	font-size: 14px;
	height: 1.2;
	font-weight: 400;
	border-bottom: 2px solid #e7e8ea;
}

.breadcrumb {
	display: inline-block;
	position: relative;
	a:hover,
	a:focus,
	a:active {
		color: #2fa4de;
	}
	margin-right: 15px;
	&:last-child {
		&:after {
			display: none;
		}
	}
	&:after {
		content: '';
		position: absolute;
		display: block;
		right: 0;
		margin-right: -10px;
		top: 8px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #d9dadc;
	}
}