.footer {
	padding-top: 40px;
	background-color: #151a29;
	color: #fff;
}

.footer-top {
	display: flex;
	justify-content: space-between;

	&__descrip {
		opacity: 0.3;
		color: #ffffff;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
	}
	&__social {
		display: flex;
		flex-wrap: wrap;
	}

	&__social-row {
		display: flex;
	}


	&__social-link {
		display: inline-block;
		width: 32px;
		height: 32px;
		color: #8a8d94;
		padding: 5px;
		border: 1px solid #8a8d94;
		border-radius: 50%;
		margin-left: 15px;
		text-align: center;
		margin-bottom: 15px;

		&:hover {
			color: #ff5252;
			border: 1px solid #ff5252
		}
	}

}


.footer-info {
	margin: 30px 0;

	&__links-descrip {
		font-family: "Mariupol-Regular", sans-serif;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.37;
		
	}
	&__link {
		font-family: "Mariupol-Regular", sans-serif;
		color: #2fa4de;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		display: block;
	}

	&__inner-links {
		color: #ffffff;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.37;
	}

	&__inner-link {
		display: block;
		color: #fff;
		line-height: 1.37;
		&:hover,
		&:active,
		&:focus, {
			color: @link-blue;
		}
	}

	&__btn-holder {
		display: flex;
		justify-content: center;
	}
	&__btn-summary, &__btn-vacancy {
		font-family: "Mariupol-Regular", sans-serif;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.2;
		padding: 12px 20px;
		cursor: pointer;
	}

	&__btn-summary {
		border-radius: 21px 0 0 21px;
		background-color: #e14444;
	}
	&__btn-vacancy {
		border-radius: 0 21px 21px 0;
		background-color: #ff5252;
	}


}

.footer-apps {
	padding: 25px 0;
	border-top: 1px solid #2d313f;
	border-bottom: 1px solid #2d313f;

	&__content-wrap {
		display: flex;
		align-items: center;
	}

	&__icon-lb {
		height: 53px;
		width: 53px;
	}

	&__desc {
		margin-left: 20px;
	}

	&__title {
		color: #ffffff;
		font-family: "MontserratAlternates-SemiBold", sans-serif;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.8;
	}

	&__subtitle {
		color: #ffffff;
		font-family: "Mariupol-Regular";
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}

	&__store-links {
		display: flex;
		justify-content: flex-end;
	}

	&__store-link {
		margin-left: 20px;
	}
}

.footer-copyright {
	padding: 20px 0;
	&__text {
		color: #5b5e69;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
}

@media (max-width: 992px) {
	.footer-info {
	
		&__btn-summary {
			border-radius: 41px 0 0 41px;

		}
		&__btn-vacancy {
			border-radius: 0 41px 41px 0;
		}

	}
}

@media (max-width: 768px) {
	.footer-info {
		&__btn-holder {
			margin-top: 20px;
		}
	}

	.footer-apps {

		&__title, &__subtitle {
			line-height: 1.2;
		}
		&__store-links {
			justify-content: space-around;
			margin-top: 20px;
		}
		&__store-link {
			margin: 0;
		}

	}

	.footer-copyright__text {
		text-align: center;
	}
}