.hero {
	background-image: url(../img/bg/hero-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 225px;
	padding-bottom: 45px;
	&--small {
		background-image: radial-gradient(circle 1348px at 98.58% 32.64%, #092e6c 0%, #124aa9 100%);
		padding: 50px 0;
	}
	
	&__center-wrapper {
		margin: 0 75px;
	}

	&__title {
		font-family: "MontserratAlternates-ExtraBold", sans-serif;
		font-size: 40px;
		font-weight: 700;
		color: #fff;
		line-height: 1.3;
	}

	&__search-form {
		margin-top: 30px;
	}

	&__bottom-block {
		margin-top: 100px;
	}

	&__icon-lb {
		margin: 0 auto;
	}

	&__bottom-wrap {
		text-align: center;
		color: #fff;
	}

	&__subtitle {
		font-family: "MontserratAlternates-SemiBold";
		font-size: 24px;
		line-height: 1.37;
	}

	&__describ {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;

	}

	&__store-links {
		display: flex;
		justify-content: center;
		margin-top: 20px;

		.hero-store-link {
			margin: 0 14px;
		}
	}
}


.search-form {
	font-family: "Mariupol-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.2;
	
	form {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}


	&__item {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		flex: 1;
		font-size: 16px;
		display: inline-block;
		padding: 20px;
		border-radius: 4px;
		border: 0;
		margin: 0 10px;
		padding-left: 50px;

		option {
			padding: 10px 0;
		}
	}

	&__submit-btn {
		width: 60px;
		height: 60px;
		flex-basis: 60px;
		flex-shrink: 0;
		border-radius: 4px;
		background: @accent-red;
		color: #fff;
		border: 0;
		background-image: url(../img/svg/search-icon.svg);
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		margin-left: 10px;

	}
}

.select-wrapper {
	position: relative;
	&__icon {
		width: 20px;
		height: 20px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -13px;
		margin-left: 30px;
		pointer-events: none;
	}

	&__arrow {
		position: absolute;
		right: 0;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: #fff;
		color: #a9a9a9;
		top: 50%;
		font-size: 12px;
		margin-top: -10px;
		margin-right: 15px;
		pointer-events: none;
	}
}


@media (max-width: 992px) {
	.search-form {

		form {
			margin: 0;
			flex-direction: column;
			align-items: flex-start;

			.form-item {
				margin-bottom: 20px;
				width: 100%;
			}
		}

		&__item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		&__submit-btn {
			margin-right: 0;
			margin-left: 0;
			flex-shrink: 0;
			flex-basis: 60px;
		}
	}

	.select-wrapper {
		&__arrow {
			margin-right: 5px;
			width: 40px;
		}
	}
}

@media (max-width: 560px) {
	.hero {
		padding-top: 100px;
		&__title {
			font-size: 35px;
			line-height: 1.2;
		}
		&__center-wrapper {
			margin: 0;
		}
		&__store-links {
			flex-wrap: wrap;
			.hero-store-link {
				margin-bottom: 10px;
			}
		}
		
	}
}