.iconlist-item {
	margin-bottom: 16px;

	&--others {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;

		&:hover a,
		&:active a,
		&:focus a, {
			color: @link-blue-hover;
		}
		& > a {
			color: #2fa4de;
			display: inline-block !important;
		}

		i {
			font-size: 12px;
			margin-left: 5px;
		}
	}

	a {
		display: flex;
		align-items: center;
	}



	&__img {
		margin-right: 18px;
	}

	&__name {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		margin-right: 8px;
	}

	&__count {
		border-radius: 11px;
		background-color: #eff1f5;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #6a6a6a;
		padding: 3px 5px;
	}
	&:hover &__name {
		color: #000;
	}
}

@media (max-width: 992px) {
	.iconlist-item {
		&__img {
			margin-right: 5px;
		}

		&__name {
			font-size: 14px;
			margin-right: 4px;
		}

		&__count {
			font-size: 14px;
		}
	}
}