.file-upload {
	position: relative;
}
.uploadButton {
    display: block;
    width: 100%;
    cursor: pointer;
	height: 55px;
	border-radius: 2px;
	border: 1px solid #dadce3;
	background-color: #e8eaef;
	text-align: center;
	line-height: 55px;
	color: #838c90;
	font-size: 14px;
	font-weight: 400;
}
.uploadButton:hover {
    background: #ECECEC;
}

.uploadbtn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1);
}

.file-upload-path-line {
	margin-top: 10px;
	width: 100%;
	text-overflow: ellipsis;
	display: none;
	justify-content: space-between;
	align-items: center;

	.upload-close-btn {
		color: #ff5252;
		cursor: pointer;
	}
}

.chosen-file {
	width: 100%;
	margin-right: 10px;
	background: #f5f6f8;
	border: 0;
	outline: none;
}

