.last-vacancies {
	padding: 50px 0;
	background-color: #f5f6f8;

	&__title {
		.section-titling;
	}
}

.last-vac-wrapper {
	margin-top: 50px;
}

.last-vac-card {
	padding: 25px;
	background: #fff;
	font-family: "font-family: "Mariupol-Regular", sans-serif;", sans-serif;
	margin-bottom: 20px;


	&__top-wrap {
		font-weight: 700;
		display: flex;
		justify-content: space-between;
	}
	
	&__salary, &__country {
		position: relative;

		&:before {
			content: '';
			width: 25px;
			height: 25px;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 3px;
			background-repeat: no-repeat;

		}
	}

	&__salary {
		padding-left: 30px;
		&:before {
			background-image: url(../img/icons/purse.svg);
		}
	}
	&__country {
		padding-left: 30px;
		&:before {
			background-image: url(../img/icons/earth.svg);
		}
	}
	&__date {
		font-weight: 400;
	}

	&__title {
		font-size: 18px;
		padding: 15px 0;
		font-weight: 700;
		color: #000;
	}

	&__content {
		padding: 16px 0;
		border-bottom: 2px solid #eee;
		font-size: 14px;
		line-height: 1.6;
		font-weight: 400;
		margin-bottom: 16px;
	}

	&__bottom-wrap {
		display: flex;
		justify-content: space-between;
	}

	&__spec {
		flex: 2;
		margin-right: 60px;
		color: #838c90;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.3;
	}

	&__details {
		flex: 1;
		white-space: nowrap;
		color: #2fa4de;
		&:hover,
		&:active,
		&:focus, {
			color: @link-blue-hover;
		}
	}
}