.last-news {
	background: #f5f6f8;
	padding: 50px 0;

	&__topline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	&__title {
		.section-titling;
	}

	&__btn {
		.btn-transp;
	}
}

.news-item {
	background: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	
	&__img {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		height: 128px;
	}

	&__content {
		padding: 20px;
		margin-top: auto;
	}

	&__title {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 18px;
		font-weight: 700;
		color: #000;
		margin: 20px 0;
	}


	&__text {
		font-family: "Mariupol-Regular";
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
	}
	&__bottom-line {
		display: flex;
		justify-content: space-between;
		font-family: "Mariupol-Regular";
		font-size: 16px;
		font-weight: 400;
		line-height: 19px;
		padding-top: 16px;
		border-top: 1px solid #dedede;
		margin-top: 16px;
	}
	&__date {

	}

	&__details-link {
		color: #2fa4de;
		&:hover,
		&:active,
		&:focus, {
			color: @link-blue-hover;
		}
	}
}


@media (max-width: 767px) {
	.last-news {

		&__topline {
			flex-direction: column;
		}
		&__btn {
			margin-top: 20px;
		}

	}
}