.seo-block {
	padding: 50px;

	&__content {
		
	}

	&__title {
		.section-titling;
		margin-bottom: 20px;
	}
	&__text-holder {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__text {
		padding-bottom: 25px;

	}
	&__btn {
		.btn-transp;
		display: block;
		width: 195px;
	}
	&__img {
		background-image: url(../img/bg/seo-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-origin: center center;
		height: 100%;
		height: 320px;
	}

}

@media (max-width: 768px) {
	.seo-block {
		&__img {
			display: none;
		}
	}
}


@media (max-width: 460px) {
	.seo-block {
		padding: 25px 10px;
	}
}