.last-vac-wrapper {
	position: relative;
	

}

.slick-dots {
	position: absolute;
	top: -50px;
	right: 50px;
	display: flex;

	li {
		margin-right: 10px;
		.dot {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #D3D3D3;
		}
		&.slick-active {
			.dot {
				background: #ff5252;
			}
		}
	}
}

.slider-btn {
	display: block;
	width: 50px;
	height: 50px;
	border: 2px solid #ff5252;
	border-radius: 50%;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ff5252;
	background-color: transparent;
	position: absolute;
}

.slider-prev {
	left: -50px;
	top: 50%;
	margin-top: -50px;
	z-index: 100;

	@media (max-width: 1076px) {
		left: -20px;
	}

	@media (max-width: 768px) {
		left: -50px;
	}


	@media (max-width: 650px) {
		left: 20px;
		top: auto;
		bottom: -40px;
	}
}

.slider-next {
	right: -50px;
	top: 50%;
	margin-top: -50px;
	z-index: 100;
	@media (max-width: 1076px) {
		right: -20px;
	}
	@media (max-width: 768px) {
		right: -50px;
	}

	@media (max-width: 650px) {
		right: 20px;
		top: auto;
		bottom: -40px;
	}
}