.subscribe {
	position: relative;
	

	&__abs-left {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		width: 50%;
		background-image: linear-gradient(115deg, #ff4936 0%, #ff5252 100%);
	}

	&__abs-right {
		position: absolute;
		height: 100%;
		right: 0;
		top: 0;
		width: 50%;
		background-image: url(../img/bg/subscribe-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

.subscr-left {
	padding: 70px 0;
	padding-right: 50px;
	//
	color: #fff;
	&__title {
		font-family: "MontserratAlternates-ExtraBold", sans-serif;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 12px;
		line-height: 1.5;
	}

	&__subtitle {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__form {
		margin-top: 35px;
		position: relative;
	}
	
	&__input, &__subscr-btn {
		border: 0;
		border-radius: 23px;
		padding: 16px 25px;
		outline: none;
		font-size: 16px;
		font-weight: 400;
		font-family: "Mariupol-Regular", sans-serif;
	}

	&__input {
		width: 100%;
		color: #8e8e8e;
		padding-right: 150px;
		
	}
	&__subscr-btn {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #151a29;
		color: #fff;
		cursor: pointer;
	}
}


.subscr-right {
	padding: 70px 0;
	&__title {
		color: #ffffff;
		font-family: "MontserratAlternates-ExtraBold", sans-serif;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 12px;
		line-height: 1.5;
	}
	&__form {
		
	}
	&__inp-group {
		margin: -10px;
	}
	&__inp-row {
		// margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__input {
		flex: 1;
		padding: 15px;
		color: #8e8e8e;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		font-weight: 400;
		border-radius: 2px;
		border: 0;

		margin: 10px 10px;
	}
	&__submit-btn {
		.btn-transp;
		border: 1px solid #fff;
		color: #fff;
		background: none;
		display: block;
		margin: 0 auto;
		margin-top: 20px;

		&:hover,
		&:active,
		&:focus {
			background: #000;
			color: #fff;
			border-color: #000;
		}
	}
}

@media (max-width: 768px) {
	.subscribe {
		&__abs-left {
			// display: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 50%;
		}
		&__abs-right {
			// display: none;
			top: 50%;
			left: 0;
			height: 50%;
			width: 100%;
		}
	}

	.subscr-left {
		padding-right: 0;
		padding-bottom: 0;

	}

	.subscr-right {
		// padding-top: 100px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}

@media (max-width: 481px) {
	.subscr-left {
		margin-bottom: 50px;
	}
}

@media (max-width: 466px) {
	.subscribe {
		&__abs-left {
			height: 45%;
		}
		&__abs-right {
			top: 45%;
			height: 55%;
		}
	}
}