.top-line {
	font-family: "Mariupol-Regular", sans-serif;
	font-size: 16px;
	color: #2e2e2e;
	position: relative;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__drop-btn {
		display: none;
		font-size: 24px;
	}
	&__nav {
		padding: 15px 0;
	}
	&__nav-item {
		display: inline-block;
		padding: 10px 20px;
		font-weight: 400;
		box-sizing: border-box;
		&:hover > a,
		&:focus > a,
		&:active > a {
			color: #ff5252;
		}
	}
}

.profile-btn {
	position: relative;
	padding-left: 60px;
	padding-right: 20px;
	border: 1px solid #e8e8e8;
	border-radius: 2px;
	&__icon {
		display: block;
		position: absolute;
		overflow: hidden;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		pointer-events: none;

		img {
			width: 100%;
			height: auto;
		}
	}
	&__username {
		display: inline-block;
		color: #2e2e2e;
		font-family: "Mariupol-Medium";
		font-size: 14px;
		font-weight: 500;
		pointer-events: none;
	}

	i.fas {
		margin-left: 50px;
		pointer-events: none;
	}

	// &:after {
	// 	content: '\f078';
	// 	display: block;
	// 	font-family: "FontAwesome", sans-serif;
	// 	position: absolute;
	// 	right: 0;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	right: 10px;
	// }
}

.profile-drop {
	display: none;
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	margin-top: -1px;
	border: 1px solid #e8e8e8;
	border-top: 0;
	border-radius: 2px;
	background: #fff;
	z-index: 100;
	padding: 20px;
	&__item {
		a {
			&:hover,
			&:active,
			&:focus, {
				color: #ff5252;
			}
		}
	}
}

.js-drop-profile {
	&.is-open {
		.profile-drop {
			display: block;
		}
	}
}


@media (max-width: 1200px) {
	.profile-btn {
		height: 50px;
		padding-left: 30px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		&__icon {
			left: 10px;
		}
		&__username {
			display: none;
		}

		i.fas {
			margin-left: 20px;
		}
	}

	.profile-drop {
		right: 0;
		left: auto;
		width: 220px;
	}
}

@media (max-width: 992px) {

	.profile-btn {
		width: 230px;
		padding-left: 60px;
		padding-right: 20px;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		box-sizing: border-box;
		&__icon {
			left: 20px;
		}
		&__username {
			display: inline-block;
		}

		i.fas {
			margin-left: 50px;
		}
	}

	.profile-drop {
		width: 100%;
		bottom: 100%;
		top: auto;
	}

	.top-line {
		z-index: 100;
		&__drop-btn {
			display: block;
		}

		&__nav-list {
			position: absolute;
			display: none;
			top: 100%;
			left: 0;
			width: 100%;
			background: #fff;
		}
		&__nav-list.is-open {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__nav-item {
			display: inline-block;
			margin-bottom: 10px;
			padding-top: 5px;
			padding-bottom: 5px;

			&.btn--white {
				margin-top: 10px;
			}
		}
	}
}