body {
	font-family: "Mariupol-Regular", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	box-sizing: border-box;
	color: #2e2e2e;
}

a {
	text-decoration: none !important;
	color: #333;

}

ul {
	margin-bottom: 0;
	list-style-type: none;
}

li {
	list-style-type: none;
}

.section-titling {
	font-family: "MontserratAlternates-ExtraBold", sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: #2e2e2e;
	line-height: 1.2;

}

.section-subtitling {
	font-family: "Mariupol-Regular", sans-serif;
	color: #2e2e2e;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

.btn {
	border-radius: 21px;
	padding: 10px 25px;
	cursor: pointer;

	&--red {
		background: @accent-red;
		a {
			color: #fff;
		}
		&:hover,
		&:active,
		&:focus, {
			background: darken(@accent-red, 10%);
		}
		&:hover a {
			color: #fff !important;
		}
	}

	&--white {
		border: 1px solid #e8e8e8;
		&:hover,
		&:active,
		&:focus {
			border: 1px solid @accent-red;
		}
	}
}

.btn-transp {
	border-radius: 23px;
	border: 2px solid #ff5252;
	padding: 10px 30px;
	color: #ff5252;
	text-align: center;
	cursor: pointer;
	outline: none;

	&:hover,
	&:active,
	&:focus {
		background: #ff5252;
		color: #fff;
	}
}

.hot-btn {
	width: 83px;
	border-radius: 4px;
	border: 1px solid #ff5252;
	color: #ff5252;
	padding: 5px 0;
	line-height: 1;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		text-transform: uppercase;
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 12px;
		font-weight: 400;
	}

	.fire-icon {
		background-image: url(../img/icons/fire.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 10px;
		height: 10px;
		margin-left: 2px;
	}
}

.stretch {
	align-items: stretch;
}




.icon-lb {
	width: 32px;
	height: 32px;
	background-image: url(../img/svg/lb-icon.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	display: block;
}



.store-link {
	width: 180px;
	height: 55px;
	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	display: block;

	&--playmarket {
		background-image: url(../img/svg/playstore.png);
	}
	&--playmarket-dark {
		background-image: url(../img/svg/playstore.png);
	}
	&--appstore {
		background-image: url(../img/svg/appstore.svg);
	}
	&--appstore-dark {
		background-image: url(../img/svg/appstore-dark.svg);
	}
}

.accent-point, .accent-text {
	color: #ff5252;
}

.text-link {
	color: #2fa4de;
}

.r {
	border: 1px solid red;
}

.b {
	border: 1px solid #000;
}

.helpblock {
	height: 500px;
	width: 100%;
	border-top: 1px solid #CACACA;
}