@media (min-width: 1920px) {
	.container {
		min-width: 1600px;
	}
}

@media (min-width: 1600px) {
	.container {
		min-width: 1450px;
	}
}

@media (min-width: 1450px) {
	.container {
		min-width: 1300px;
	}
}