.add-info {
	&__topline {}
	background: #f5f6f8;
	padding-bottom: 70px;
	padding-top: 50px;
}

.add-info-topline {
	border-bottom: 2px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__adding-btn-wrapper {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;
	}
	&__item {
		padding: 25px 15px;
		display: inline-block;
		cursor: pointer;
		text-align: center;
		&.is-active {
			color: #ff5252;
			border-bottom: 4px solid #ff5252;
		}
	}
	&__login {
		color: #2fa4de;
		font-size: 16px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus, {
			color: darken(#2fa4de, 10%);
		}
	}
}


.add-vacancy {

	&__block {
		margin-top: 40px;
	}
}

.vac-block {
	
	&__title {
		color: #2e2e2e;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
		margin-bottom: 20px;
	}
	&__col {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	&__col-noflex {
		width: 50%;
		margin: 0 10px;
	}

	&__input {
		font-family: "Mariupol-Regular", sans-serif;
		width: 100%;
		margin: 0 10px;
		padding: 15px 25px;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		outline: none;

		&--textarea {
			margin: 0;
			resize: none;
			margin-bottom: 10px;
			height: 80px;
		}
	}

	&__subtitle {
		color: #2e2e2e;
		font-size: 16px;
		font-weight: 700;
	}

	&__select-holder {
		&--third {
			width: 70%;
		}
		width: 100%;
		margin: 0 10px;
		position: relative;
		&:before {
			content: '\f078';
			font-family: "FontAwesome", sans-serif;
			display: block;
			position: absolute;
			right: 1px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			z-index: 10;
			background: #fff;
			color: #a9a9a9;
			padding-right: 5px;
			pointer-events: none;
		}
	}

	&__select {
		width: 100%;
		padding: 15px 25px;
		padding-right: 15px;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		position: relative;
		display: block;
		color: #8e8e8e;
	}

	&__check-holder {
		margin-top: 16px;
	}

	&__check-label {
		display: block;

		span {
			margin-left: 8px;
		}
	}

	&__check {
		background: red;
		position: relative;
		&:checked:before {
			content: '\f00c';
			font-family: "FontAwesome", sans-serif;
			color: #ff5252;
			border: 1px solid #ff5252;
		}
		&:before {
			content: '';
			text-align: center;
			line-height: 18px;
			display: block;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 18px;
			height: 18px;
			border-radius: 2px;
			background-color: #e8e8e8;
		}
	}

	&__file-upload {
		margin-top: 16px;
	}
}




@media (max-width: 390px) {
	.add-info-topline {
		&__item {
			padding: 20px 10px;
		}

		&__adding-btn-wrapper {
			margin-top: 20px;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
}


@media (max-width: 525px) {
	.add-info-topline {
		flex-direction: column;
		&__adding-btn-wrapper {
			order: 2;
		}
		&__login {
			order: 1;
		}
	}
}

@media (max-width: 768px) {
	.vac-block {

		&__row {
			flex-direction: column;
			box-sizing: padding-box;
		}
		&__col {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&__col-noflex {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;

		}
	}
}