.vacancy-promotion {

	&__title {

		color: #2e2e2e;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__overall-block {
		display: flex;
	}
	&__left-block {
		padding: 25px 45px;
		flex: 1;
		border: 1px solid #d9dbdd;
		border-right: 0;
	}
	&__right-block {
		padding: 25px 45px;
		flex: 1;
	}
}

.promotion-left {
	
	&__title {
		color: #2e2e2e;
		line-height: 1;
		font-family: "Mariupol-Medium", sans-serif;
		font-size: 18px;
		font-weight: 500;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 20px;
			height: 24px;
			background-image: url(../../../img/icons/fire.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			right: 100%;
			margin-right: 10px;
			top: -5px;
		}
	}
	&__text {
		color: #2e2e2e;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.57;
		margin-top: 13px;
	}
	&__list {
		color: #2e2e2e;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.57;
		
		margin-top: 13px;
	}
	&__list-item {
		padding-left: 25px;
		position: relative;
		&:before {
			content: '\f00c';
			display: block;
			position: absolute;
			left: 0;
			font-family: "FontAwesome", sans-serif;
			font-size: 12px;
			color: #ff5252;
		}
	}
}

.promotion-right {
	background-color: #ff5252;
	&__title {
		color: #fff;
		line-height: 1;
		font-family: "Mariupol-Medium", sans-serif;
		font-size: 18px;
		font-weight: 500;
	}
	&__text {
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.57;
		margin-top: 13px;
	}
}

.set-vacancy-btn {
	display: block;
	padding: 15px 45px;
	border-radius: 23px;
	background-color: #ff5252;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: "Mariupol-Regular", sans-serif;
	border: 0;
	margin: 0 auto;
	margin-top: 30px;
	cursor: pointer;
	&:hover,
	&:active,
	&:focus, {
		background-color: darken(#ff5252, 10%);
	}
	
}



@media (max-width: 768px) {
	.vacancy-promotion {
		&__overall-block {
			flex-direction: column;
		}

		&__left-block {
			border: 1px solid #d9dbdd;
			border-bottom: 0;
		}
	}
}


@media (max-width: 343px) {
	.set-vacancy-btn {
		width: 100%;
	}
}