.edit-cv {
	&__topline {
		display: flex;

	}
	&__label {
		margin-right: 30px;
		& > input[type='radio'] {
			position: relative;
			outline: none;
			margin-right: 8px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 18px;
				height: 18px;
				left: -2px;
				top: -2px;
				background: #fff;
				border-radius: 50%;
				border: 1px solid #2e2e2e;
				z-index: 5;

			}
			&:checked:before {
				border: 1px solid #ff5252;
				box-shadow: inset 0 0 0px 3px #fff, inset 0 0 20px 20px #ff5252;
			}
		}
	}

	&__submit-btn {
		border: 0;
		color: #fff;
		padding: 15px 60px;
		display: block;
		margin: 0 auto;
		outline: none;
	}
}

.edit-cv-section {

	&__title {
		color: #2e2e2e;
		font-family: "Mariupol-Bold";
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;

	}
	&__form {
		margin-bottom: 40px;
		margin-top: 30px;
	}
	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
		margin-bottom: 20px;
	}
	&__col {
		flex: 1;
		display: flex;
		justify-content: center;
	}
	&__col-noflex {
		width: 50%;
		margin: 0 10px;
	}
	&__input {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		width: 100%;
		margin: 0 10px;
		padding: 15px 25px;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		outline: none;
		&--textarea {
			height: 80px;
		}
	}
	&__select-holder {
		width: 100%;
		margin: 0 10px;
		position: relative;
		&:before {
			content: '\f078';
			font-family: "FontAwesome", sans-serif;
			display: block;
			position: absolute;
			right: 1px;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			z-index: 10;
			background: #fff;
			color: #a9a9a9;
			padding-right: 5px;
			pointer-events: none;
		}
	}
	&__select {
		font-family: "Mariupol-Regular", sans-serif;
		font-size: 16px;
		width: 100%;
		padding: 15px 25px;
		padding-right: 15px;
		border-radius: 2px;
		background-color: #ffffff;
		border: 0;
		position: relative;
		display: block;
		color: #8e8e8e;
	}


}