.profile-workspace {
	padding-top: 65px;
	background: #f5f6f8;
	padding-bottom: 80px;
	&__sidebar {}
	&__content {}
}


.profile-sidebar {
	&__list {}
	&__list-item {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #e8e8e8;
		margin-bottom: 10px;

		a {
			display: block;
			width: 100%;
			height: 100%;
			padding-left: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			font-family: "", sans-serif;
			font-family: "Mariupol-Regular";
			font-size: 16px;
			font-weight: 400;
		}
		&:hover,
		&:active,
		&:focus {
			a {
				background-color: #ff5252;
				color: #fff;
			}
			
		}
	}
}

