.profile-settings {
	&__content {
		padding-bottom: 210px;
	}
	&__title {
		color: #2e2e2e;
		font-family: "Mariupol-Bold";
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	&__label {
		display: flex;
		margin-bottom: 20px;
	}
	&__check {
		background: red;
		position: relative;
		margin-right: 10px;
		&:checked:before {
			content: '\f00c';
			font-family: "FontAwesome", sans-serif;
			color: #ff5252;
			border: 1px solid #ff5252;
		}
		&:before {
			content: '';
			text-align: center;
			line-height: 18px;
			display: block;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 18px;
			height: 18px;
			border-radius: 2px;
			background-color: #e8e8e8;
		}
	}
	&__text {
		color: #2e2e2e;
		font-family: "Mariupol-Regular";
		font-size: 16px;
		font-weight: 400;
		line-height: 1.38;
	}
	&__bottom-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__save-btn {
		width: 254px;
		color: #fff;
		text-align: center;
	}
	&__unsubscribe {
		color: #2fa4de;
		font-family: "Mariupol-Regular";
		font-size: 16px;
		font-weight: 400;
		&:hover,
		&:active,
		&:focus {
			color: @link-blue-hover;
		}
	}
}
