.vacancy {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 30px;
	.last-vac-card {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
	}
	&:hover {
		.vacancy-curtain {
			bottom: 0;
		}
	}
}

.vacancy-curtain {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: bottom .3s ease-in-out;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000000;
		opacity: 0.8;
		top: 0;
		left: 0;
		z-index: 2;
	}

	&__btn-review {
		text-align: center;
		opacity: 1;
		z-index: 3;
		margin-left: 15%;
		margin-right: 15%;
		color: #fff;
		margin-bottom: 30px;
		cursor: pointer;
		&:hover,
		&:active,
		&:focus {
			color: @accent-red;
		}
	}
	&__btn-edit {
		text-align: center;
		opacity: 1;
		z-index: 3;
		margin-left: 20%;
		margin-right: 20%;
		color: #fff;
		cursor: pointer;
		i {
			margin-right: 7px;
		}
		&:hover,
		&:active,
		&:focus {
			color: @accent-red;
		}
	}

	&__del-link {
		position: absolute;
		display: block;
		right: 15px;
		bottom: 15px;
		z-index: 3;
		color: #ff5252;
		&:hover,
		&:active,
		&:focus {
			color: lighten(#ff5252, 10%);
		}
	}
}


@media (max-width: 1200px) {
	.vacancy {
		.last-vac-card {
			&__top-wrap {
				flex-direction: column;
				justify-content: flex-start;
			}

			&__bottom-wrap {
				flex-direction: column;
			}
		}
	}

	.vacancy-curtain {
		&__btn-review {
			margin-left: 10px;
			margin-right: 10px;
		}
		&__btn-edit {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}